spring:
  application:
    name: jjigit-backend

  datasource:
    url: jdbc:mysql://localhost:3306/jjigit_db
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: asd1234

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
